<div id="movie-filter">
<%= search_form_for @search do |f| %>
  <div class="ui-dropdown">
    <div class="dialog">
      <div class="pointer">
        <div class="arrow"></div>
        <div class="arrow_border"></div>
      </div>
      <div class="body">
        <div class="form">
          <div class="field-box">
            <%= f.collection_select :genres_id_in, Genre.find(:all, :order => :name), :id, :name, {}, { :multiple => true, :style => "width:100%" } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="filter-sep"></div>
  <%= f.text_field :name_or_plot_cont, :class => "span2 search", :placeholder => "search" %>

  <div class="filter-sep"></div>

  <div style="display:none">
    <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
    <% end %>
  </div>
  <%= f.button '<i class="icon-filter"></i> Filter'.html_safe, :type => :submit, :class => 'btn primary' %>
    <span>or</span>
  <%= link_to t(:remove_filter), movies_path, :class => 'reset' %>
<% end %>
</div>
