<div id="movie-filter">
<%= search_form_for @search do |f| %>
  <div class="filter-block">
    <div class="ui-dropdown">
      <div class="dialog">
        <div class="pointer">
          <div class="arrow"></div>
          <div class="arrow_border"></div>
        </div>
        <div class="body">
          <div class="form">
            <div class="field-box">
              <%= f.hidden_field :director_id_in, class: 'select2 ajax', :multiple => true, :style => "width:100%", data: { placeholder: 'director', source: directors_path, multiple: true } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="filter-block">
    <div class="ui-dropdown">
      <div class="dialog">
        <div class="pointer">
          <div class="arrow"></div>
          <div class="arrow_border"></div>
        </div>
        <div class="body">
          <div class="form">
            <div class="field-box">
              <%= f.hidden_field :cast_members_id_in, class: 'select2 ajax', :multiple => true, :style => "width:100%", data: { placeholder: 'cast members', source: cast_members_path, multiple: true } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="filter-block">
    <div class="ui-dropdown">
      <div class="dialog">
        <div class="pointer">
          <div class="arrow"></div>
          <div class="arrow_border"></div>
        </div>
        <div class="body">
          <div class="form">
            <div class="field-box">
              <%= f.collection_select :source_id_in, Source.find(:all, :order => :name), :id, :name, {}, { :multiple => true, :style => "width:100%" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="filter-block">
    <div class="ui-dropdown">
      <div class="dialog">
        <div class="pointer">
          <div class="arrow"></div>
          <div class="arrow_border"></div>
        </div>
        <div class="body">
          <div class="form">
            <div class="field-box">
              <%= f.collection_select :genres_id_in, Genre.find(:all, :order => :name), :id, :name, {}, { :multiple => true, :style => "width:100%" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="filter-block">
    <%= f.text_field :name_or_plot_cont, :class => "span2 search", :placeholder => "search" %>
  </div>

  <div class="filter-block">
    <span>end time:</span>
    <%= check_box_tag "q[check_end_time]", "1", @check_end_time, {:title => "check the end time"} %>
    <%= select_tag "q[end_time_hour]", options_for_select((0..23).collect{ |i| ["%02d" % i, i] }, @end_time_hour), :class => "time-select" %>:
    <%= select_tag "q[end_time_minute]", options_for_select([0, 15, 30, 45].collect{ |i| ["%02d" % i, i] }, @end_time_minute), :class => "time-select" %>
  </div>

  <div class="filter-block">
    <%= f.button '<i class="icon-filter"></i> Filter'.html_safe, :type => :submit, :class => 'btn primary' %>
      <span>or</span>
    <%= link_to t(:remove_filter), movies_path, :class => 'reset' %>
  </div>
<% end %>
</div>
