<h1>Listing movies</h1>

<div class="row">
  <div class="pull-right">
    <%= render 'filter', :resource => @search %>
  </div>
</div>

<table>
  <tr>
    <th><%= sort_link @search, :name, "Name", {:page => params[:page]} %></th>
    <th><%= sort_link @search, :rating, "Rating", {:page => params[:page]} %></th>
    <th><%= sort_link @search, :length, "Length", {:page => params[:page]} %></th>
    <th>Trailer</th>
    <th>Plot Summary</th>
    <th>Poster url</th>
    <th>Tagline</th>
    <th><%= sort_link @search, :year, "Year", {:page => params[:page]} %></th>
    <th>Dir</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.name %></td>
    <td><%= movie.rating %> (<%= movie.votes %>)</td>
    <td><%= Time.at(movie.length * 60).utc.strftime("%kh %Mmin") %></td>
    <td>
      <% if movie.trailer_url %>
        <a target="_blank" href="<%= movie.trailer_url %>">trailer</a>
      <% end %>
    </td>
    <td><%= h truncate(movie.plot_summary, :length => 80) %></td>
    <td>
      <% if movie.poster_url %>
        <a href="<%= movie.poster_url %>"><img src="<%= movie.poster_url %>" alt="<%= movie.name %>" height="50" style="height: 50px;" rel="lightbox" /></a>
      <% end %>
    </td>
    <td><%= movie.tagline.html_safe unless movie.tagline.nil? %></td>
    <td><%= movie.year %></td>
    <td><a target="_blank" href="file://<%= movie.full_path %>">Open</a></td>
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

